@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Gotham Pro Regular', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #016a7e;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #017f97;
}

.section__title {
  font-size: 30px;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__text {
  margin-left: 20px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.header-info {
  font-size: 15px;
}

.header-info__icon {
  color: #016a7e;
}

.header-info__address {
  margin-left: 10px;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.header-info__address:hover {
  color: #016a7e;
}

.header-info__phone {
  margin-left: 30px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.header-info__phone:hover {
  color: #016a7e;
}

.header-info__btn {
  margin-left: 30px;
}

.header-bottom {
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__link {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.header-nav__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -1;
  background-color: #016a7e;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-nav__link:hover {
  color: #016a7e;
}

.header-nav__link:hover:after {
  width: 100%;
}

.hero {
  height: 540px;
  background: url("../img/main-bg.png") center no-repeat;
  background-size: cover;
}

.hero__title {
  padding: 167px 0 10px;
  font-size: 34px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.hero__subtitle {
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #016a7e;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -135px;
}

.features__item {
  width: 33.33333%;
  width: 426px;
  height: 316px;
  padding: 54px 35px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.features__title {
  font-size: 18px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.features__text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 20px;
  color: #5e6c80;
}

.features__btn {
  width: 100%;
  max-width: 240px;
  position: absolute;
  bottom: 45px;
}

.features__bg {
  position: absolute;
  bottom: 25px;
  right: -100px;
}

.features__bg-second {
  bottom: 0;
  right: -50px;
}

.features__link {
  text-decoration: underline;
  color: #016a7e;
}

.features__item-active {
  background-color: #016a7e;
}

.features__item-title {
  color: #ffffff;
}

.features__item-text {
  color: #cfd4db;
  font-size: 14px;
}

.fa-play-circle {
  margin-right: 5px;
  color: #dde1e6;
}

.features__item-video {
  display: block;
  text-decoration: underline;
  color: inherit;
}

.features__item-video:visited {
  color: #dde1e6;
}

.features__item-btn {
  background: #ffffff;
  color: #000000;
}

.features__item-btn:hover {
  background-color: #dde1e6;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  width: 60%;
}

.services__item:nth-child(2) {
  width: 35%;
  position: relative;
}

.services__list {
  margin-top: 50px;
  margin-bottom: 55px;
  padding-left: 25px;
  list-style-type: disc;
  font-size: 15px;
}

.services__list-item {
  margin: 10px 0;
}

.services__form {
  width: 100%;
  max-width: 720px;
  padding: 50px;
  -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
}

.services__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.services__form-title {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.services__form-name {
  max-width: 160px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid #000000;
}

.services__form-name::-webkit-input-placeholder {
  font-size: 15px;
  color: #000000;
}

.services__form-name:-ms-input-placeholder {
  font-size: 15px;
  color: #000000;
}

.services__form-name::-ms-input-placeholder {
  font-size: 15px;
  color: #000000;
}

.services__form-name::placeholder {
  font-size: 15px;
  color: #000000;
}

.services__form-name:focus {
  outline: none;
}

.services__form-btn {
  width: 100%;
  max-width: 220px;
}

.services__form-policy {
  font-size: 13px;
}

.policy__link {
  color: #016a7e;
}

.services__image {
  position: relative;
  z-index: 1;
}

.services__icon {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
}

.services__name {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 19px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.services__link {
  display: block;
  min-width: 455px;
  font-size: 13px;
  line-height: 22px;
  color: #016a7e;
}

.fa-external-link-alt {
  margin-left: 5px;
}
