@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Gotham Pro Regular', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #016a7e;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #017f97;
}

.section {
  padding: 100px 0;
}

.section__title {
  font-size: 30px;
  width: 100%;
  max-width: 650px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 960px;
  }
  .section {
    padding: 50px 0;
  }
  .section__title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 720px;
  }
  .section__title {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 540px;
  }
}

.arrows-prev, .arrows-next {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 22px;
}

.arrows-prev:focus, .arrows-next:focus {
  outline: none;
  border: none;
}

.arrows-prev:active, .arrows-next:active {
  opacity: .5;
}

.slick-prev:focus,
.slick-next:focus {
  outline: none;
}

.slick-prev:active,
.slick-next:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  outline: none;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__text {
  margin-left: 20px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.header-info {
  font-size: 15px;
}

.header-info__icon {
  color: #016a7e;
}

.header-info__address {
  margin-left: 10px;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.header-info__address:hover {
  color: #016a7e;
}

.header-info__phone {
  margin-left: 30px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.header-info__phone:hover {
  color: #016a7e;
}

.header-info__btn {
  margin-left: 30px;
}

.header-bottom {
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-nav {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__link {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.header-nav__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -1;
  background-color: #016a7e;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-nav__link:hover {
  color: #016a7e;
}

.header-nav__link:hover:after {
  width: 100%;
}

@media (max-width: 1200px) {
  .header-wrapper {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header-info .fas, .header-info__address {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-inner {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .header-info__phone {
    display: none;
  }
}

@media (max-width: 576px) {
  .header-logo__text {
    margin-left: 10px;
    font-size: 14px;
  }
}

.hero {
  height: 540px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/main-bg.png");
}

.hero__title {
  padding: 167px 0 10px;
  font-size: 34px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.hero__subtitle {
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #016a7e;
}

@media (max-width: 992px) {
  .hero {
    height: 340px;
    background-position: 40%;
  }
  .hero__title {
    padding-top: 75px;
    font-size: 25px;
  }
  .hero__subtitle {
    font-size: 19px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 290px;
  }
  .hero__title {
    padding-top: 50px;
    font-size: 22px;
  }
  .hero__subtitle {
    font-size: 17px;
  }
}

.features {
  padding: 0;
  position: relative;
  top: -135px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.features__inner .slick-prev {
  position: absolute;
  top: 42%;
  left: -10px;
  z-index: 1;
  font-size: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.features__inner .slick-prev:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 35%;
  left: 40%;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.features__inner .slick-next {
  position: absolute;
  top: 42%;
  right: -10px;
  z-index: 1;
  font-size: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.features__inner .slick-next:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 35%;
  left: 35%;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.features__item {
  width: 33.33333%;
  min-height: 316px;
  padding: 54px 35px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.features__title {
  max-width: 250px;
  font-size: 18px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.features__text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 20px;
  color: #5e6c80;
}

.features__btn {
  width: 100%;
  max-width: 240px;
  position: absolute;
  bottom: 45px;
}

.features__bg {
  position: absolute;
  bottom: 25px;
  right: -100px;
}

.features__bg-second {
  bottom: 0;
  right: -50px;
}

.features__link {
  text-decoration: underline;
  color: #016a7e;
}

.features__item-active {
  background-color: #016a7e;
}

.features__item-title {
  color: #ffffff;
}

.features__item-text {
  color: #cfd4db;
  font-size: 14px;
}

.fa-play-circle {
  margin-right: 5px;
  color: #dde1e6;
}

.features__item-video {
  display: block;
  text-decoration: underline;
  color: inherit;
}

.features__item-video:visited {
  color: #dde1e6;
}

.features__item-btn {
  background: #ffffff;
  color: #000000;
}

.features__item-btn:hover {
  background-color: #dde1e6;
}

@media (max-width: 992px) {
  .features {
    max-height: unset;
  }
  .features__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .features__item {
    margin: 10px;
    -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
  }
  .features__title {
    max-width: unset;
  }
}

@media (max-width: 768px) {
  .features__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .features__item {
    padding: 35px;
    margin: 10px;
  }
}

@media (max-width: 576px) {
  .features__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .features__item {
    margin: 10px;
  }
}

.services {
  padding-top: 0;
  padding-bottom: 50px;
  position: relative;
  top: -50px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  width: 60%;
}

.services__item:nth-child(2) {
  width: 35%;
  position: relative;
}

.services__list {
  margin-top: 50px;
  margin-bottom: 55px;
  padding-left: 25px;
  list-style-type: disc;
  font-size: 15px;
}

.services__list-item {
  margin: 10px 0;
}

.services__item-btn {
  display: none;
  padding: 10px 15px;
  margin: auto;
  max-width: 290px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.services__form {
  width: 100%;
  max-width: 720px;
  margin-top: -250px;
  padding: 50px;
  -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
}

.services__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.services__form-title {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.services__form-name {
  max-width: 160px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid #000000;
}

.services__form-name::-webkit-input-placeholder {
  font-size: 15px;
  color: #000000;
}

.services__form-name:-ms-input-placeholder {
  font-size: 15px;
  color: #000000;
}

.services__form-name::-ms-input-placeholder {
  font-size: 15px;
  color: #000000;
}

.services__form-name::placeholder {
  font-size: 15px;
  color: #000000;
}

.services__form-name:focus {
  outline: none;
}

.services__form-btn {
  width: 100%;
  max-width: 220px;
}

.services__form-policy {
  font-size: 13px;
}

.policy__link {
  color: #016a7e;
}

.services__image {
  width: 100%;
  position: relative;
  z-index: 1;
}

.services__icon {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
}

.services__name {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 19px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.services__link {
  max-width: 455px;
  font-size: 13px;
  line-height: 22px;
  color: #016a7e;
}

.fa-external-link-alt {
  margin-left: 5px;
}

@media (max-width: 1200px) {
  .services__form {
    margin-top: -180px;
    max-width: 600px;
    padding: 30px;
  }
  .services__form-name {
    max-width: 130px;
  }
  .services__form-btn {
    max-width: 200px;
  }
}

@media (max-width: 992px) {
  .services__item {
    width: 50%;
  }
  .services__item:nth-child(2) {
    width: 45%;
  }
  .services__form {
    margin: 30px auto 0;
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .services {
    padding-bottom: 0;
  }
  .services__item {
    width: 100%;
  }
  .services__item:nth-child(2) {
    display: none;
    width: 60%;
    margin: auto;
  }
  .services__item-btn {
    display: block;
  }
  .services__form {
    padding: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .services__form-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__form-name {
    width: 100%;
    max-width: unset;
    margin-bottom: 20px;
  }
  .services__form-btn {
    margin-top: 25px;
  }
}

.why {
  background-color: #f2f2f2;
}

.why__inner {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why__inner .slick-prev {
  position: absolute;
  top: 40%;
  left: -8px;
  z-index: 1;
  font-size: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.why__inner .slick-prev:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 35%;
  left: 40%;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.why__inner .slick-next {
  position: absolute;
  top: 40%;
  right: -8px;
  z-index: 1;
  font-size: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.why__inner .slick-next:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 35%;
  left: 35%;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.why__item {
  width: 20%;
  min-height: 160px;
  position: relative;
}

.why__icon {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.why__text {
  padding: 10px 40px;
  font-size: 15px;
}

.why__link {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  color: #5e6c80;
}

.why__link:visited {
  color: #5e6c80;
}

@media (max-width: 768px) {
  .why__inner {
    margin-top: 50px;
  }
}

.package {
  padding-bottom: 36px;
}

.package__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.package__inner .slick-prev {
  position: absolute;
  top: 40%;
  left: -15px;
  z-index: 1;
  font-size: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.package__inner .slick-prev:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 35%;
  left: 40%;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.package__inner .slick-next {
  position: absolute;
  top: 40%;
  right: -15px;
  z-index: 1;
  font-size: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.package__inner .slick-next:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 35%;
  left: 35%;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.package__item {
  width: 33.33333%;
  margin: 15px 0;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: relative;
}

.package__item:nth-child(2) {
  z-index: 2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.package__content {
  padding: 50px 0 50px 40px;
  min-height: 390px;
  position: relative;
}

.package__action {
  width: 160px;
  height: 130px;
  position: absolute;
  top: -60px;
  right: -60px;
  border-radius: 50%;
  background-color: #bd0000;
}

.package__action span {
  position: relative;
  top: 80px;
  left: 30px;
  font-size: 20px;
  color: #ffffff;
}

.package__name {
  margin-bottom: 10px;
  font-size: 18px;
}

.package__price {
  margin-bottom: 30px;
  font-size: 20px;
  color: #bd0000;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.package__price span {
  color: #000000;
}

.package__sale {
  font-size: 20px;
  color: #000000;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
  position: relative;
}

.package__sale:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  position: absolute;
  bottom: 45%;
  background-color: #000000;
}

.package__list {
  margin-bottom: 30px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #5e6c80;
}

.package__link {
  display: table;
  font-size: 14px;
  text-decoration: underline;
  color: #000000;
}

.package__info {
  font-size: 14px;
}

.package__info-text {
  display: block;
  margin-top: 25px;
  color: #5e6c80;
}

.package__btn {
  width: 100%;
  max-width: 234px;
  position: absolute;
  bottom: 50px;
}

.package__btn-link {
  background-color: #bd0000;
}

.package__btn-link:hover {
  background-color: #d70000;
}

.package__img {
  position: absolute;
  bottom: -2%;
  right: -12%;
}

@media (max-width: 992px) {
  .package__inner {
    display: block;
  }
  .package__item {
    margin: 5px;
  }
  .package__item:nth-child(2) {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 768px) {
  .package__content {
    min-height: 310px;
    padding: 30px 0 30px 30px;
  }
  .package__list {
    margin-bottom: 10px;
  }
  .package__btn {
    bottom: 20px;
  }
}

.feedback {
  overflow: hidden;
}

.feedback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.feedback__item {
  width: 25%;
  margin: auto;
}

.feedback__name {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}

.feedback__date {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  color: #016a7e;
}

.feedback__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: #5e6c80;
  font-size: 14px;
  line-height: 17px;
}

.feedback__text span {
  display: block;
  margin-top: 20px;
}

.feedback__source {
  display: block;
  margin-top: 20px;
  color: #000000;
}

.feedback__source:visited {
  color: #000000;
}

.feedback__btn {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 25px;
}

.feedback__wrap {
  position: relative;
}

.feedback__img {
  position: absolute;
  bottom: -120px;
  right: 0;
  max-width: 300px;
}

.feedback__arrows {
  position: absolute;
  top: 0;
  right: 0;
}

.feedback__arrows-prev, .feedback__arrows-next {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 22px;
}

.feedback__arrows-prev:focus, .feedback__arrows-next:focus {
  outline: none;
  border: none;
}

.feedback__arrows-prev:active, .feedback__arrows-next:active {
  opacity: .5;
}

@media (max-width: 768px) {
  .feedback__btn {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .feedback__btn {
    margin: 0;
  }
}

.partners {
  background-color: #f2f2f2;
}

.partners__wrap {
  position: relative;
}

.partners__inner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.partners__inner .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item {
  vertical-align: middle;
}

.partners__arrows {
  position: absolute;
  top: 0;
  right: 0;
}

.read-more__inner {
  margin-top: 50px;
  height: 150px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.read-more__inner:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.read-more__btn, .read-more__inner {
  display: inline-block;
  margin-top: 25px;
}

.read-more__btn:hover, .read-more__inner:hover {
  height: 250px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.read-more__btn:hover::after, .read-more__inner:hover::after {
  background: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer {
  padding-top: 65px;
  padding-bottom: 50px;
  background-color: #181e24;
  color: #ffffff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer__link {
  display: inline-block;
  width: 25%;
  margin-bottom: 20px;
}

.footer__link-item {
  color: #ffffff;
}

.footer__address {
  display: block;
  margin-top: 85px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.footer__address-link {
  color: #ffffff;
}

.footer__address-icon {
  margin-right: 10px;
  color: #016a7e;
}

.footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-column-count: 3;
          column-count: 3;
}

.footer__nav-item {
  margin-bottom: 20px;
}

.footer__nav-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.footer__nav-link:hover, .footer__nav-link:focus, .footer__nav-link:active, .footer__nav-link:visited {
  text-decoration: none;
  outline: none;
}

.footer__block {
  text-align: right;
}

.phone {
  display: inline-block;
}

.phone:first-child {
  position: relative;
  padding-right: 20px;
}

.phone:first-child::after {
  content: "";
  position: absolute;
  right: 6px;
  width: 1px;
  height: 100%;
  background-color: #5e6c80;
}

.footer__phone {
  color: #ffffff;
  text-decoration: none;
}

.footer__btn {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .footer__block {
    margin: 30px auto 0;
    text-align: center;
  }
  .footer__address {
    margin-top: 60px;
  }
  .footer__address-link {
    display: block;
    margin-top: 5px;
  }
}
