@font-face {
font-family: 'Gotham Pro Regular';
src: url('../fonts/GothamPro.eot');
src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro.woff') format('woff'),
url('../fonts/GothamPro.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@mixin regular {
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

@font-face {
font-family: 'Gotham Pro Bold';
src: url('../fonts/GothamPro-Bold.eot');
src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Bold.woff') format('woff'),
url('../fonts/GothamPro-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@mixin bold {
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}