body {
  margin: 0;
  font-family: 'Gotham Pro Regular', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 15px 20px;

  border-radius: 5px;

  background-color: $main-color;

  color: $white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  &:hover {
    background-color: lighten($main-color, 5%);
  }
}
.section {
  padding: 100px 0;
}
.section__title {
  font-size: 30px;
  width: 100%;
  max-width: 650px;
}