body {
  margin: 0;
  font-family: 'Gotham Pro Regular', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h4, h5, h6 {
  margin: 0;
}

/* img {
  max-width: 100%;
} */

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 15px 20px;

  border-radius: 5px;

  background-color: $main-color;

  color: $white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  &:hover {
    background-color: lighten($main-color, 5%);
  }
}
.section {
  padding: 100px 0;
}
.section__title {
  font-size: 30px;
  width: 100%;
  max-width: 650px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 960px;
  }
  .section {
    padding: 50px 0;
    &__title {
      font-size: 22px;
    }
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 720px;
  }
  .section__title {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 540px;
  }
}

.arrows {
  &-prev,
  &-next {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 22px;
    &:focus {
      outline: none;
      border: none;
    }
    &:active {
      opacity: .5;
    }
  }
}
