.features {
  padding: 0;

  position: relative;
  top: -135px;
}

.features__inner {
  display: flex;
  justify-content: center;

  position: relative;

  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);

  & .slick-prev {
    left: -10px;
  }

  & .slick-next {
    right: -10px;
  }
}

.features__item {
  width: 33.33333%;
  min-height: 316px;
  padding: 54px 35px;

  position: relative;

  background-color: $white;
  overflow: hidden;
}

.features__title {
  max-width: 250px;

  font-size: 18px;
  @include bold;
}

.features__text {
  margin-top: 25px;

  font-size: 14px;
  line-height: 20px;
  color: $secondary;
}

.features__btn {
  width: 100%;
  max-width: 240px;
  
  position: absolute;
  bottom: 45px;
}

.features__bg {
  position: absolute;
  bottom: 25px;
  right: -100px;
}

.features__bg-second {
  bottom: 0;
  right: -50px;
}

.features__link {
  text-decoration: underline;
  color: $main-color;
}

.features__item-active {
  background-color: $main-color;
}

.features__item-title {
  color: $white;
}

.features__item-text {
  color: lighten($secondary, 40%);
  font-size: 14px;
}

.fa-play-circle {
  margin-right: 5px;
  color: lighten($secondary, 45%);
}

.features__item-video {
  display: block;

  text-decoration: underline;
  color: inherit;

  &:visited,
  &:focus,
  &:active {
    outline: none;
    color: lighten($secondary, 45%);
  }
}

.features__item-btn {
  background: $white;

  color: $black;

  &:hover {
    background-color: lighten($secondary, 45%);
  }
}



/* Responsives */

@media (max-width: 992px) {
  .features {
    max-height: unset;
  }

  .features__inner {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
  }

  .features__item {
    margin: 10px;

    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .features__title {
    max-width: unset;
  }
}

@media (max-width: 768px) {
  .features__inner {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
  }

  .features__item {
    padding: 35px;
    margin: 10px;
  }

  .features__bg {
    max-width: 200px;

    bottom: 0;
  }
}

@media (max-width: 576px) {
  .features__inner {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
  }

  .features__item {
    min-height: 260px;
    padding: 25px;
  }
  .features__item-title {
    font-size: 16px;
  }

  .features__item-text {
    margin-top: 20px;
    font-size: 13px;
  }

  .features__item-video {
    font-size: 13px;
  }

  .features__title {
    font-size: 16px;
  }

  .features__text {
    margin-top: 20px;
    font-size: 13px;
  }

  .features__btn {
    padding: 10px 5px;
    max-width: 200px;

    bottom: 30px;
    z-index: 1;

    font-size: 12px;
  }

  .features__bg {
    max-width: 160px;

    bottom: 0;
  }
}