.footer {
  padding-top: 65px;
  padding-bottom: 50px;

  background-color: $footer-bg;
  color: $white;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  flex-basis: 50%;
}

.footer__link {
  display: inline-block;
  width: 25%;
  margin-bottom: 20px;
}

.footer__link-item {
  color: $white;
}

.footer__address {
  display: block;
  margin-top: 85px;

  text-align: center;
  font-size: 15px;
  font-style: normal;
  @include regular;
}

.footer__address-link {
  color: $white;

  &:hover {
    text-decoration: none;
  }
}

.footer__address-icon {
  margin-right: 10px;

  color: $main-color;
}

.footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 3;
}

.footer__nav-item {
  margin-bottom: 20px;
}

.footer__nav-link {
  border-bottom: 1px solid $white;

  font-size: 16px;
  color: $white;
  text-decoration: none;
  
  &:hover {
    border-bottom: 0;
  }

  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
    outline: none;
  }
}

.footer__block {
  text-align: right;
}

.phone {
  display: inline-block;

  &:first-child {
    padding-right: 20px;

    position: relative;

    &::after {
      content: "";
      height: 100%;

      position: absolute;
      right: 6px;
      width: 1px;
      background-color: $secondary;
    }
  }
}

.footer__phone {
  color: $white;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid $main-color;
  }
}

.footer__btn {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  margin-top: 25px;
}


/* Creator */
.creator {
  display: block;
  margin-top: 40px;

  text-align: center;
  font-size: 14px;
}

.creator__text span {
  color: lighten($red, 10%);
  font-size: 16px;
}

.creator__link {
  color: $white;
  text-decoration: none;

  border-bottom: 1px solid $white;
  transition: ease-out .2s;

  &:hover {
    color: lighten($red, 10%);
    border-bottom: 1px solid lighten($red, 10%);
  }

  &:focus,
  &:active,
  &:visited {
    outline: none;
  }
}


/* Responsives */

@media (max-width: 992px) {
  .footer__item {
    display: none;
  }

  .footer__block {
    margin: auto;

    text-align: center;
  }

  .footer__address {
    margin-top: 50px;
  }

}

@media (max-width: 768px) {
  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__address-link {
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 576px) {
  .footer__nav {
    column-count: unset;
  }

  .phone:first-child {
    display: block;
    padding-right: unset;
    margin-bottom: 10px;
    &::after {
      display: none;
    }
  }
}