.header {
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &-logo {
    display: flex;
    align-items: center;
    &__text {
      margin-left: 20px;
      @include bold;
      font-size: 15px;
      text-transform: uppercase;
    }
    
  }
  &-info {
    font-size: 15px;
    &__icon {
      color: $main-color;
    }
    &__address {
      border-bottom: 1px solid $black;

      text-decoration: none;
      transition: all .1s;
      &:visited {
        color: $main-color;
      }
    }
    &__phone {
      margin-left: 15px;

      @include bold;
      color: $black;
      text-decoration: none;
      transition: all .1s;
      &:hover {
        color: $main-color;
      }
    }
    &__call {
      display: none;
      font-size: 30px;
      vertical-align: middle;
      color: $main-color;
    }
    &__whatsapp {
      display: none;
      font-size: 35px;
      vertical-align: middle;
      color: $main-color;
    }
    &__btn {
      margin-left: 15px;
    }
  }
  &__burger {
    display: none;
    width: 30px;
    height: 18px;
    position: relative;
    vertical-align: middle;
    &:active,
    &:focus,
    &:visited {
      outline: none;
      text-decoration: none;
      color: transparent;
    }
    & span {
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: $black;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: inherit;
      }
      &::before {
        top: -6px;
      }
      &::after {
        bottom: -6px;
      }
    }
  }
  &-bottom{
    box-shadow: 3px 1px 8px rgba($black, .2);
  }
  &-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &-nav {
    padding: 20px 0;
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    &__link {
      font-size: 15px;
      color: $black;
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 2px;
        left: 0;
        bottom: -1;
        background-color: $main-color;
        transition: .4s;
      }
      &:hover {
        color: $main-color;
        &:after {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    &-logo__img {
      max-width: 75px;
    }
    &-inner {
      padding: 10px 0;
    }
    &-top {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      background-color: $white;
      box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.2);
    }
    &-wrapper {
      display: none;
    }
    &-info__btn {
    margin-right: 10px;
    }
    &__burger {
      display: inline-block;
    }
  }

}

@media (max-width: 1024px) {
  .header-info {
    & .fa-map-marker-alt,
    &__address {
    display: none;
    }
  }
}

@media (max-width: 992px) {
  .header {
    &-inner {
      padding: 5px 0;
    }
    &-logo__img {
      max-width: 60px;
    }
    &-info__btn {
      padding: 10px 20px;
    }
  }
}


@media (max-width: 768px) {
  .header {
    &-logo__img {
      max-width: 55px;
    }
    &-info {
      &__phone,
      &__btn {
        display: none;
      }
      &__call,
      &__whatsapp {
        display: inline-block;
        margin-right: 15px;
        font-size: 25px;
      }
      &__whatsapp {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    &-info {
      &__btn {
        display: none;
      }
      &__call {
        margin-right: 10px;
        font-size: 20px;
      }
      &__whatsapp {
        display: none;
      }
    }
    &-logo {
      &__text {
        margin-left: 10px;
        font-size: 12px;
      }
      &__img {
        max-width: 38px;
      }
    }
  }
}

