.hero {
  height: 540px;
  background-image: url('../img/main-bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &__title {
    padding: 167px 0 10px;
    font-size: 34px;
    @include bold;
  }
  &__subtitle {
    @include bold;
    font-size: 23px;
    color: $main-color;
  }
}