.why {
  background-color: $section-bg;
  &__inner {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
  }
  &__item {
    width: 20%;
    min-height: 160px;
    position: relative;
  }
  &__icon {
    width: 55px;
    height: 55px;
    margin: 0 auto;
  }
  &__text {
    margin: 20px 5px;
    font-size: 15px;
  }
  &__link {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    color: $secondary;
    &:visited {
      color: $secondary;
    }
  }
}

@media (max-width: 768px) {
  .why__inner {
    margin-top: 50px;
  }
}