.why {
  background-color: $section-bg;
}

.why__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;

  text-align: center;

  & .slick-prev {
    left: -8px;
  }

  & .slick-next {
    right: -8px;
  }
}

.why__item {
  width: 20%;
  min-height: 160px;

  position: relative;
}

.why__icon {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.why__text {
  padding: 10px 40px;

  font-size: 15px;
}

.why__link {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  
  color: $secondary;

  &:visited {
    color: $secondary;
  }
}

/* Responsives */

@media (max-width: 768px) {
  .why__inner {
    margin-top: 50px;
  }
}